body{
  background-color: #1E1E1E;
  user-select: none;
}
p{
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
#top{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#clock{
  font-size: 25px;
  margin: 15px 0 0 10px;
}
#configuration{
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 15px;
  color: #d4d4d4;
  background-color: #70707010;
  border: 1px solid #4f4f4f;
  cursor: pointer;
  font-weight: bold;
}
#configuration:hover{
  color: #fff;
}

#centerpart{
  display: flex;
  justify-content: center;
  align-items: center;
}
#circleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 310px;
  height: 310px;
  transform: rotate(-90deg);
  pointer-events: none; /* Prevent clicks on the container */
}
#circle{
  fill: transparent;
  stroke: #00CF08;
  stroke-width: 20px;
  z-index: -5;
  animation: all 10s linear forwards;
  stroke-linecap: round; /* Recommended for visually pleasing corners with border radius */;
  transition: all 1s;
}

#circle1{
  fill: transparent;
  stroke: #272727;
  stroke-width: 20px;
  z-index: -10;
}
#timeContainer{
  position: relative;
}
#timeBox{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#time{
  font-size: 50px;
  padding: 0;
  margin: 15px 0;
}
#timecontrolbox{
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  z-index: 10;
}
#playpause, #refreshtime{
  color: #ffffff;
  width: 40px;
  cursor: pointer;
  border-radius: 10px;
}
#refreshtime{
  width: 38px;
}
.modal-content{
  color: #fff;
  background-color: #282828;
}
.modal-body, .modal-header, .modal-footer{
  border: none;
}
.btn-close{
  color: #fff;
  background-color: #fff;
}
.workingMinutes, .workingSeconds{
  background-color: transparent;
  border: 1px solid rgb(80, 80, 80);
  color: #fff;
  font-size: 20px;
  max-width: 250px;
  margin: 0;
}

.workingMinutes:focus, .workingSeconds:focus{
  background-color: transparent;
  border: 1px solid rgb(80, 80, 80);
  color: #fff;
}
.inpCont{
  margin-bottom: 20px;
}
#inputBox{
  display: flex;

}
.my2dot{
  margin: 0 7px;
  margin-bottom: 3px;
}
.workTitle{
  margin-bottom: 5px;
}
